doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours | #{title}
      meta(name='title' content='Natours ')
      meta(name='description' content='The best tour booking website!')
      //- Open Graph / Facebook
      meta(property='og:type' content='website')
      meta(property='og:url' content='https://metatags.io/')
      meta(property='og:title' content='Natours ')
      meta(property='og:description' content='The best tour booking website!')
      meta(property='og:image' content='/public/img/logo-green-round.png')
      //- Twitter
      meta(property='twitter:card' content='summary_large_image')
      meta(property='twitter:url' content='https://metatags.io/')
      meta(property='twitter:title' content='Natours ')
      meta(property='twitter:description' content='The best tour booking website!')
      meta(property='twitter:image' content='/public/img/logo-green-round.png')

  body(data-alert=`${alert ? alert : ''}`)
    // HEADER
    include _header

    // CONTENT
    block content
      h1 This is a placeholder heading

    // FOOTER
    include _footer

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    script(src='https://js.stripe.com/v3/')
    script(src='/dist/index.js')